### 变量
命名规则：字母数字下划线，数字不能在首位

In [3]:
num = 1.2   
# 定义一个变量num
# 给num 赋值1

整数 ： int

小数 ： float

字符串 ： string

In [4]:
type(num)

float

In [170]:
name = "布尔玛"
brand = "apple"

In [176]:
if '布' in name:
    print('在里面')

在里面

In [ ]:
type(num)

### print
函数

In [7]:
print(name)

布尔玛

In [11]:
s1 = name + '喜欢' + brand
print(s1)

布尔玛喜欢apple

In [4]:
a = 1
print("a:%d"%a)

a:1

In [16]:
# print的自由组合
print('{0}喜欢{1}'.format(name,brand))

布尔玛喜欢apple

### 函数 function
defination-定义

函数名， 输入，输出

In [18]:
# 加法函数   
def fun(x,y):
    z = x + y 
    return z

In [19]:
# 函数调用
a = 1
b = 2
fun(a,b)

3

In [9]:
# 练习: 写一个乘法函数
# 乘 : *
# 除 : /
# 平方 : ** 或 ^

In [45]:
c = 2

In [46]:
def add(a,b):
    c = 1 
    return a+b+c

In [47]:
c

2

In [49]:
# 函数的嵌套
def fun1(x):
    y = add(x,2)
    return y

In [50]:
fun1(2)

5

In [74]:
# 函数的递归 ， 自己调用自己

In [75]:
def fun1(a,b):
    if a> 0 and b> 0 :
        return a+b
    else:
        return fun1(a+1,b+1)

In [77]:
fun1(-1,2)

5

### 数组/列表  list
有一串元素的集合

In [21]:
name_list = ["paula","belen"]
len(name_list)
print(name_list[0])

paula

In [22]:
type(name_list)

list

In [172]:
num_list = [1,2,3]

In [29]:
num_list

[1, 2, 3]

In [34]:
# append 添加元素
num_list.append(3)

In [36]:
# 去重
num_list = list(set(num_list))

In [37]:
# 列表解析,快速创建列表
num_list = [x for x in range(100) if x%2==1]
print(num_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

### if  条件判断语句

In [31]:
name = "paula"
if len(name) == 3:
    print('3')
else:
    print('no')

no

### 循环

In [21]:
# 遍历数组
for name in name_list:
    print(name)

paula
belen

In [26]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

### 读文件
r : read 

w : write

In [33]:
with open('name.txt','r') as f:  #把文件的内容给f
    for line in f:  
        name = line.strip() # 去掉这一行前后的空白字符
        print(name)

paula
belen
yuanbo

In [36]:
with open('name.txt','r') as f:  #把文件的内容给f
    for line in f:  
        name = line.strip() # 去掉这一行前后的空白字符
        if len(name) > 5:
            print(line)

yuanbo

In [46]:
with open('iris.txt','r') as f:  #把文件的内容给f
    for line in f:  
        line = line.strip() # 去掉这一行前后的空白字符
        line = line.split(',') # 将字符串分割开
        if line[4]  == 'Iris-setosa' and line[0] == '5.1':  # 同时满足两个条件
            print(line)

['5.1', '3.5', '1.4', '0.2', 'Iris-setosa']
['5.1', '3.5', '1.4', '0.3', 'Iris-setosa']
['5.1', '3.8', '1.5', '0.3', 'Iris-setosa']
['5.1', '3.7', '1.5', '0.4', 'Iris-setosa']
['5.1', '3.3', '1.7', '0.5', 'Iris-setosa']
['5.1', '3.4', '1.5', '0.2', 'Iris-setosa']
['5.1', '3.8', '1.9', '0.4', 'Iris-setosa']
['5.1', '3.8', '1.6', '0.2', 'Iris-setosa']

and 且

or 或

In [47]:
# 练习 
# 第一列是 5.0 并且第二列是 3.5的

### 处理 excel

In [63]:
with open('hdl.csv','r') as f:  #把文件的内容给f
    for line in f:  
        line = line.strip() # 去掉这一行前后的空白字符
        line = line.split(',') # 将字符串分割开
        city = line[0].strip()
        if city == '新加坡':   
            print(line)

['新加坡', '新加坡15店（Marina Bay Sands）', '"2 Bayfront Avenue The Shoppes at Marina Bay Sands', ' #B2-01A/D', '018972"', '700(B2)', '8', '6', '296', '合同已签订', '', '2020/8/12', '2021/11/18(预计11月底进场)', '', '新加坡15店', '', '']
['新加坡', '新加坡16店 (Wisma Atria)', '"#03-15 to 23', ' #03-41(pt) to 49', 'Wisma Atria', '435 Orchard Rd', ' Singapore"', '958（3F）', '5', '5', '473', '合同已签订', '', '2020/10/29', '2020/12/30', '', '新加坡16店', '新加坡4店', '']
['新加坡 ', ' Jurong East Jcube', '', '', '', '', '', '商务定稿', '', '', '', '', '', '', '']
['新加坡 ', 'Woodleigh 在建中位置居中（小店）', '', '', '', '', '', '谈商务条件中', '', '', '', '', '', '', '']
['新加坡 ', 'Bugis', '', '', '', '', '', '谈商务条件中', '', '', '', '', '', '', '']
['新加坡 ', ' 新加坡Jurong point ', '', '', '', '', '', '商务阶段-谈判中', '', '', '', '', '', '', '']

### 字典
dictionary

key : value

In [40]:
name_dic = {}  # 字典必须首先定义
name_dic['paula'] = 18
name_dic['belen'] = 20
name_dic['zyb'] = 16

In [41]:
name_dic

{'paula': 18, 'belen': 20, 'zyb': 16}

In [42]:
name_dic['zyb']

16

In [43]:
d = {}
d['name'] = 'paula'
d['age'] =25

In [44]:
d

{'name': 'paula', 'age': 25}

In [35]:
name_dic.get('zyb',0)

16

In [34]:
name_dic.get('kkj',0)

0

In [171]:
city_dic =  {}

with open('hdl.csv','r') as f:  #把文件的内容给f
    for line in f:  
        line = line.strip() # 去掉这一行前后的空白字符
        city = line.split(',')[0] # 将字符串分割开
        city_num = city_dic.get(city,0)
        city_dic[city] =  city_num + 1

In [172]:
city_dic

{'\ufeff城市': 1,
 '': 8,
 '印尼': 3,
 'Jl. Pantai Indah Kapuk No.6': 1,
 '新加坡': 2,
 '新加坡 ': 4,
 '柬埔寨 ': 3,
 '韩国': 1,
 '부산시 동구 중앙대로 175"': 1,
 '香港': 2,
 '澳门': 1,
 '英国': 2,
 '西班牙': 1,
 '瑞士': 1}

### 字典练习
1.统计一句话中每个字的个数

In [12]:
sentence = "贝吉塔喜欢布尔玛"

In [13]:
sentence[0]

'贝'

In [39]:
c_dic = {}
for c in sentence:
    c_dic[c] = c_dic.get(c,0) + 1

In [40]:
c_dic

{'贝': 1, '吉': 1, '塔': 1, '喜': 1, '欢': 1, '布': 1, '尔': 1, '玛': 1}

2. 一句话中单词的个数

{I:1, love:1 , you :1}

In [43]:
sentence_2 = "I love you"

In [44]:
word_dic = {}
for word in sentence_2.split():
    word_dic[word] = word_dic.get(word,0) + 1
print(word_dic)

{'I': 1, 'love': 1, 'you': 1}

3. 一段话中单词的个数

In [50]:
with open('Vegeta.txt') as f:
    sentence_3 = f.read()

In [53]:
sentence_3

'Vegeta, also known as Prince Vegeta or alternatively styled as Vegeta IV is a fictional character in the Dragon Ball franchise created by Akira Toriyama. Vegeta first appears in chapter #204 Sayonara, Son Goku, published in Weekly Shōnen Jump magazine on November 7, 1988, seeking the wish-granting Dragon Balls to gain immortality.'

In [57]:
word_dic = {}
for word in sentence_3.split():
    word = word.strip(',').strip('.')
    if len(word) >=4 :
        word_dic[word] = word_dic.get(word,0) + 1
print(word_dic)

{'Vegeta': 4, 'also': 1, 'known': 1, 'Prince': 1, 'alternatively': 1, 'styled': 1, 'fictional': 1, 'character': 1, 'Dragon': 2, 'Ball': 1, 'franchise': 1, 'created': 1, 'Akira': 1, 'Toriyama': 1, 'first': 1, 'appears': 1, 'chapter': 1, '#204': 1, 'Sayonara': 1, 'Goku': 1, 'published': 1, 'Weekly': 1, 'Shōnen': 1, 'Jump': 1, 'magazine': 1, 'November': 1, '1988': 1, 'seeking': 1, 'wish-granting': 1, 'Balls': 1, 'gain': 1, 'immortality': 1}

### 类， 面向对象 ， class

In [92]:
# 类的定义
class hero:
    def __init__(self,sex,age):
        self.sex = sex
        self.age = age
    def attack(self,gjl):
        return gjl
    def walk(self,speed):
        return speed
    def score(self,gjl,speed):
        return self.attack(gjl) + self.walk(speed) + self.age

In [93]:
# 类的调用
Arthur = hero('m',30)

In [94]:
Arthur.sex

'm'

In [95]:
Arthur.age

30

In [96]:
Arthur.attack(100)

100

In [97]:
Arthur.walk(20)

20

In [98]:
Arthur.score(100,20)

150

In [68]:
Yaoyao = hero()

In [69]:
Yaoyao.attack(60)

60

In [70]:
Yaoyao.walk(60)

60

In [71]:
Yaoyao.score(60,60)

120

## 库函数
别人已经写好的

### time

In [100]:
import time

In [101]:
time.ctime()

'Sun May 30 20:53:49 2021'

In [136]:
# 计算程序运行时间
start = time.time()
s = 0
for i in range(100000000):
    s = s+i 
print(s)
end = time.time()

print(end-start)

4999999950000000
11.072498798370361

In [126]:
from datetime import datetime, timedelta
# Y(year) , m(month) , d(day) , H(hour) , M(minute) , S (second)

In [106]:
datetime.now()

datetime.datetime(2021, 5, 30, 21, 3, 16, 241981)

In [111]:
datetime.now().strftime("%Y-%m-%d")

'2021-05-30'

In [112]:
datetime.now().strftime("%H:%M")

'21:05'

In [119]:
(datetime.now() - timedelta(days=2)).strftime("%Y-%m-%d %H:%M")

'2021-05-28 21:09'

In [122]:
(datetime.now() + timedelta(hours=2)).strftime("%Y-%m-%d %H:%M")

'2021-05-30 23:10'

### math

In [152]:
from math import pi,sin,radians,log

In [149]:
pi

3.141592653589793

In [150]:
sin((radians(30)))

0.49999999999999994

$$  log_2(8)$$

In [155]:
log(8,2)

3.0

### os ( operate system)

In [157]:
import os

In [161]:
os.listdir()

['iris.txt',
 '.DS_Store',
 'python2.ipynb',
 'Vegeta.txt',
 'python1.ipynb',
 'name.txt',
 '.ipynb_checkpoints',
 'paula_note.ipynb']

In [196]:
os.getcwd() # 获取当前路径

'/Users/mac/Desktop/git/algorithm/python_class'

In [186]:
paula_path = '/Users/mac/Desktop/paula'

In [191]:
paula_files = os.listdir(paula_path)

In [192]:
for paula_file in paula_files:
    if paula_file.endswith('.xls'):
        print(paula_file)

DOSSIER 2.xls
Plantilla IRPF.xls
Plantilla IRPF (1).xls

In [195]:
for paula_file in paula_files:
    if "Prueba" in paula_file:
        print(paula_file)

Prueba de repaso Jiawei Zhu.pdf
Prueba 1 Grupo C.xlsx

### 数据分析 ， 科学计算库
numpy, pandas , matplotlib

In [47]:
import numpy as np

In [48]:
# array 数组
num_list = [i for i in range(0,9)]

In [49]:
num_array = np.array(num_list)
num_array

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [52]:
num_array.shape

(9,)

In [51]:
num_array.mean()

4.0

In [50]:
num_array.std()

2.581988897471611

In [54]:
num_array.reshape(3,3)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [225]:
np.zeros( (3,3), np.int )

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

In [226]:
np.ones( (3,4))

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [259]:
s=0
for i in range(10):
    s=s+i
    a=s/10

In [260]:
print(a)

4.5

In [256]:
def fun_mean(num_list):
    s = 0 
    for num in num_list:
        s = s+ num 
    return s/len(num_list)

In [253]:
l = [i for i in range(10)]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [252]:
fun_mean(l)

4.5

### pandas

In [56]:
import pandas as pd

In [58]:
num_list = [i for i in range(0,9)]
num_list

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [62]:
num_s = pd.Series(num_list)

In [64]:
name_list = ['paula','belen','vgeta']

In [67]:
names_s = pd.Series(name_list)
names_s

0    paula
1    belen
2    vgeta
dtype: object

In [68]:
# DataFrame
df = pd.DataFrame({'activity_id': ['2','2','5','2','2','2'],
                    'leader_id': ['66', '66', '66', '66', '66', '66'],
                       'member_id': [1, 2, 3, 4, 5, 6]})

In [69]:
df

  activity_id leader_id  member_id
0           2        66          1
1           2        66          2
2           5        66          3
3           2        66          4
4           2        66          5
5           2        66          6

In [71]:
df.to_csv('test_3.csv')