### 黄金分割率

In [2]:
import baostock as bs 
import pandas as pd

In [3]:
lg = bs.login()

login success!

In [11]:
import datetime
today_date = datetime.datetime.now() - datetime.timedelta(days=0) 
today_date = today_date.strftime("%Y-%m-%d")
print(today_date)

2022-07-01

In [13]:
stock_code = 'sh.600519'
stock_info = 'date,code,open,close,high,low'
start_date = '2022-01-01'
end_date = today_date

In [14]:
rs = bs.query_history_k_data_plus(stock_code, stock_info, start_date, end_date, frequency='d')

In [15]:
data_list = []
while rs.next():
    data_list.append(rs.get_row_data())

In [16]:
df = pd.DataFrame(data_list, columns = rs.fields)

In [17]:
df

           date       code       open      close       high        low
0    2022-01-04  sh.600519  2055.0000  2051.2300  2068.9500  2014.0000
1    2022-01-05  sh.600519  2045.0000  2024.0000  2065.0000  2018.0000
2    2022-01-06  sh.600519  2022.0100  1982.2200  2036.0000  1938.5100
3    2022-01-07  sh.600519  1975.0000  1942.0000  1988.8800  1939.3200
4    2022-01-10  sh.600519  1928.0100  1966.0000  1977.0000  1917.5500
..          ...        ...        ...        ...        ...        ...
112  2022-06-24  sh.600519  1970.0000  2009.0100  2020.0000  1965.0000
113  2022-06-27  sh.600519  2019.9400  2010.5500  2049.9400  2000.3000
114  2022-06-28  sh.600519  2019.7400  2036.0000  2041.0000  2001.0000
115  2022-06-29  sh.600519  2028.0000  2030.0000  2042.0000  2011.0100
116  2022-06-30  sh.600519  2000.0000  2045.0000  2077.0000  1999.9900

[117 rows x 6 columns]

In [42]:
lowest_price,max_price = float(df['close'][0] ),float(df['close'][0] )
for i in range(len(df)):
    stock_price = float(df['close'][i] )
    max_price = max(max_price,stock_price)
    lowest_price = min(lowest_price,stock_price)
    if stock_price < max_price*0.618:
        print(df['date'][i],stock_price)

In [41]:
max_price, lowest_price

(2051.23, 1603.0)