### 黄金分割数
一条线分为两段，一段与全部长度之比等于另一部分与该段之比。
$$ x=\frac{\sqrt{5}-1}{2} $$

In [390]:
import math 
x = (math.sqrt(5)-1)/2
print(x)
print(1/x)
print(x/(1-x))

0.6180339887498949
1.6180339887498947
1.6180339887498951

### 黄金分割率

In [264]:
import baostock as bs 
import pandas as pd

In [453]:
lg = bs.login()

login success!

In [416]:
import datetime
today_date = datetime.datetime.now() - datetime.timedelta(days=0) 
today_date = today_date.strftime("%Y-%m-%d")
print(today_date)

2022-10-12

In [424]:
stock_code = 'sh.000300'
stock_info = 'date,code,open,close,high,low'
start_date = '2020-01-01'
end_date = today_date

In [425]:
rs = bs.query_history_k_data_plus(stock_code, stock_info, start_date, end_date, frequency='d',adjustflag="1") #前复权

In [426]:
data_list = []
while rs.next():
    data_list.append(rs.get_row_data())

In [427]:
df = pd.DataFrame(data_list, columns = rs.fields)

In [428]:
df

           date       code       open      close       high        low
0    2020-01-02  sh.000300  4121.3480  4152.2400  4172.6550  4121.3480
1    2020-01-03  sh.000300  4161.2180  4144.9640  4164.2980  4131.8640
2    2020-01-06  sh.000300  4120.5210  4129.2950  4170.6380  4102.3790
3    2020-01-07  sh.000300  4137.4010  4160.2270  4161.2500  4135.0970
4    2020-01-08  sh.000300  4139.6310  4112.3170  4149.8130  4101.9800
..          ...        ...        ...        ...        ...        ...
665  2022-09-28  sh.000300  3879.4398  3828.7098  3879.4398  3828.0545
666  2022-09-29  sh.000300  3864.3160  3827.1434  3873.1823  3808.6496
667  2022-09-30  sh.000300  3833.3504  3804.8853  3848.6018  3801.2798
668  2022-10-10  sh.000300  3806.5596  3720.9365  3807.4574  3715.7142
669  2022-10-11  sh.000300  3732.0191  3727.6867  3739.8084  3706.0629

[670 rows x 6 columns]

In [429]:
lowest_price,max_price = float(df['low'][0]),float(df['high'][0] )

In [430]:
for i in range(len(df)):
    stock_price = float(df['close'][i])
    low_price = float(df['low'][i])
    high_price = float(df['high'][i])
    max_price = max(max_price,high_price)
    if max_price <= high_price:
        max_price = high_price
        max_date = df['date'][i]
    if lowest_price >= low_price:
        lowest_price = low_price
        lowest_date = df['date'][i]

In [431]:
print(max_price, lowest_price)
print(max_date, lowest_date)

5930.9122 3503.1866
2021-02-18 2020-03-19

In [432]:
import datetime
today_date = datetime.datetime.now() - datetime.timedelta(days=0) 
today_date = today_date.strftime("%Y-%m-%d")
print(today_date)

2022-10-12

In [459]:
class Golden_law:
    def __init__(self,stock_code,start_date='2021-01-01'):
        bs.login()
        self.stock_code = stock_code
        self.start_date = start_date
        stock_info = 'date,code,open,close,high,low'
        self.end_date = today_date
        rs = bs.query_history_k_data_plus(self.stock_code, stock_info, self.start_date, self.end_date, frequency='d',adjustflag="2") #前复权
        data_list = []
        while rs.next():
            data_list.append(rs.get_row_data())    
        df = pd.DataFrame(data_list, columns = rs.fields)
        lowest_price,max_price = float(df['low'][0] ),float(df['high'][0] )
        max_date,lowest_date = df['date'][0], df['date'][0]
        for i in range(len(df)):
            stock_price = float(df['close'][i])
            low_price = float(df['low'][i])
            high_price = float(df['high'][i])
            max_price = max(max_price,high_price)
            if max_price <= high_price:
                max_price = high_price
                max_date = df['date'][i]
            if lowest_price >= low_price:
                lowest_price = low_price
                lowest_date = df['date'][i]
        self.lowest_price = lowest_price
        self.max_price = max_price
        self.df = df
        self.max_date = max_date
        self.lowest_date = lowest_date
        
        
    def get_max_price(self):
        return self.max_price, self.max_date
    
    def get_lowest_price(self):
        return self.lowest_price, self.lowest_date 
    
    def today_price(self):
        return self.df.iloc[-1]['close'],self.df.iloc[-1]['date']

    
    def get_golden_price(self):
        price_618 = self.max_price*0.618034
        price_382 = self.max_price*0.618034*0.618034
        price_236 = self.max_price*0.618034*0.618034*0.618034
        return price_618,price_382,price_236

In [502]:
gl = Golden_law(stock_code='sh.000300',start_date='2015-01-01')

login success!

In [503]:
gl.get_max_price()

(5930.9122, '2021-02-18')

In [510]:
gl.get_lowest_price()

(2821.215, '2016-02-29')

In [512]:
gl.max_price/gl.lowest_price

2.1022545959808094

In [506]:
gl.today_price()

('3784.3064', '2022-10-12')

In [507]:
gl.get_golden_price()

(3665.5053906147996, 2265.406958583227, 1400.098524241026)

In [508]:
2821.215/x

4564.821759571035

In [509]:
2821.215/x/x

7386.036759571034