### 黄金分割率

In [214]:
import baostock as bs 
import pandas as pd

In [215]:
lg = bs.login()

login success!

In [216]:
import datetime
today_date = datetime.datetime.now() - datetime.timedelta(days=0) 
today_date = today_date.strftime("%Y-%m-%d")
print(today_date)

2022-10-11

In [222]:
stock_code = 'sz.000333'
stock_info = 'date,code,open,close,high,low'
start_date = '2021-01-01'
end_date = today_date

In [223]:
rs = bs.query_history_k_data_plus(stock_code, stock_info, start_date, end_date, frequency='d',adjustflag="2") #前复权

In [224]:
data_list = []
while rs.next():
    data_list.append(rs.get_row_data())

In [225]:
df = pd.DataFrame(data_list, columns = rs.fields)

In [226]:
df

,date,code,open,close,high,low
0,2021-01-04,sz.000333,93.9794283000,94.0839554700,96.8776816500,93.1527134100
1,2021-01-05,sz.000333,93.1907232900,96.4880803800,96.8681791800,92.1739590000
2,2021-01-06,sz.000333,97.8754410000,95.9369371200,99.5858856000,94.6921135500
3,2021-01-07,sz.000333,96.9251940000,99.6048905400,100.4126004900,96.1649964000
4,2021-01-08,sz.000333,98.8256880000,97.8849434700,99.4908609000,96.2125087500
...,...,...,...,...,...,...
422,2022-09-28,sz.000333,51.5000000000,51.1700000000,51.7700000000,51.1000000000
423,2022-09-29,sz.000333,51.4700000000,50.5000000000,51.7600000000,50.3000000000
424,2022-09-30,sz.000333,50.1300000000,49.3100000000,50.5700000000,49.3100000000
425,2022-10-10,sz.000333,49.3100000000,48.7000000000,49.9900000000,48.4600000000
426,2022-10-11,sz.000333,48.6900000000,48.3700000000,48.8500000000,48.0000000000

In [ ]:
lowest_price,max_price = float(df['low'][0] ),float(df['high'][0] )
for i in range(len(df)):
    stock_price = float(df['close'][i] )
    max_price = max(max_price,stock_price)
    lowest_price = min(lowest_price,stock_price)
    if stock_price < max_price*0.618:
        print(df['date'][i],stock_price)

In [138]:
max_price, lowest_price

(67.866924, 22.26633933)

In [184]:
import datetime
today_date = datetime.datetime.now() - datetime.timedelta(days=0) 
today_date = today_date.strftime("%Y-%m-%d")
print(today_date)

2022-10-11

In [189]:
class Golden_law:
    def __init__(self,stock_code,start_date='2021-01-01'):
        self.stock_code = stock_code
        self.start_date = start_date
        stock_info = 'date,code,open,close,high,low'
        self.end_date = today_date
        rs = bs.query_history_k_data_plus(self.stock_code, stock_info, self.start_date, self.end_date, frequency='d',adjustflag="2") #前复权
        data_list = []
        while rs.next():
            data_list.append(rs.get_row_data())    
        df = pd.DataFrame(data_list, columns = rs.fields)
        lowest_price,max_price = float(df['low'][0] ),float(df['high'][0] )
        for i in range(len(df)):
            stock_price = float(df['close'][i] )
            max_price = max(max_price,stock_price)
            lowest_price = min(lowest_price,stock_price)
        self.lowest_price = lowest_price
        self.max_price = max_price
        self.df = df
    def max_price():
        return self.max_price
    
#     def today_price():
#         return self.df.loc[len(df)-1,'close']

In [194]:
df

,date,code,open,close,high,low
0,2021-01-04,sh.601633,35.5295463600,37.4870158300,38.6575629000,35.4213445300
1,2021-01-05,sh.601633,37.4870158300,37.6640733700,38.1263902800,36.4049975300
2,2021-01-06,sh.601633,37.5657080700,37.0050258600,38.4411592400,35.9525171500
3,2021-01-07,sh.601633,36.7886222000,40.7035611400,40.7035611400,36.3853244700
4,2021-01-08,sh.601633,41.5199931300,41.8052525000,42.3364251200,39.3461200000
...,...,...,...,...,...,...
422,2022-09-28,sh.601633,29.3700000000,28.1100000000,29.3800000000,28.1000000000
423,2022-09-29,sh.601633,28.6500000000,28.1000000000,28.8000000000,28.0200000000
424,2022-09-30,sh.601633,28.0500000000,27.8000000000,28.3500000000,27.6800000000
425,2022-10-10,sh.601633,27.0100000000,26.1200000000,27.3600000000,26.0000000000
426,2022-10-11,sh.601633,26.0700000000,26.0900000000,26.3600000000,25.4900000000

In [227]:
gl = Golden_law(stock_code='sz.000333')

In [228]:
gl.max_price

101.78095617

In [ ]:

def gloden_law(stock_code,start_date = '2021-01-01'):