### 黄金分割率

In [234]:
import baostock as bs 
import pandas as pd

In [235]:
lg = bs.login()

login success!

In [236]:
import datetime
today_date = datetime.datetime.now() - datetime.timedelta(days=0) 
today_date = today_date.strftime("%Y-%m-%d")
print(today_date)

2022-10-12

In [242]:
stock_code = 'sh.000300'
stock_info = 'date,code,open,close,high,low'
start_date = '2021-01-01'
end_date = today_date

In [243]:
rs = bs.query_history_k_data_plus(stock_code, stock_info, start_date, end_date, frequency='d',adjustflag="2") #前复权

In [244]:
data_list = []
while rs.next():
    data_list.append(rs.get_row_data())

In [245]:
df = pd.DataFrame(data_list, columns = rs.fields)

In [246]:
df

           date       code       open      close       high        low
0    2021-01-04  sh.000300  5212.9313  5267.7181  5284.4343  5190.9372
1    2021-01-05  sh.000300  5245.8355  5368.5049  5368.5049  5234.3775
2    2021-01-06  sh.000300  5386.5144  5417.6677  5433.4694  5341.4304
3    2021-01-07  sh.000300  5428.3944  5513.6568  5513.6568  5413.3526
4    2021-01-08  sh.000300  5526.2876  5495.4306  5547.4733  5442.6939
..          ...        ...        ...        ...        ...        ...
422  2022-09-28  sh.000300  3879.4398  3828.7098  3879.4398  3828.0545
423  2022-09-29  sh.000300  3864.3160  3827.1434  3873.1823  3808.6496
424  2022-09-30  sh.000300  3833.3504  3804.8853  3848.6018  3801.2798
425  2022-10-10  sh.000300  3806.5596  3720.9365  3807.4574  3715.7142
426  2022-10-11  sh.000300  3732.0191  3727.6867  3739.8084  3706.0629

[427 rows x 6 columns]

In [247]:
lowest_price,max_price = float(df['low'][0] ),float(df['high'][0] )
for i in range(len(df)):
    stock_price = float(df['close'][i] )
    max_price = max(max_price,stock_price)
    lowest_price = min(lowest_price,stock_price)
    if stock_price < max_price*0.618:
        print(df['date'][i],stock_price)

In [248]:
max_price, lowest_price

(5807.7191, 3720.9365)

In [184]:
import datetime
today_date = datetime.datetime.now() - datetime.timedelta(days=0) 
today_date = today_date.strftime("%Y-%m-%d")
print(today_date)

2022-10-11

In [189]:
class Golden_law:
    def __init__(self,stock_code,start_date='2021-01-01'):
        self.stock_code = stock_code
        self.start_date = start_date
        stock_info = 'date,code,open,close,high,low'
        self.end_date = today_date
        rs = bs.query_history_k_data_plus(self.stock_code, stock_info, self.start_date, self.end_date, frequency='d',adjustflag="2") #前复权
        data_list = []
        while rs.next():
            data_list.append(rs.get_row_data())    
        df = pd.DataFrame(data_list, columns = rs.fields)
        lowest_price,max_price = float(df['low'][0] ),float(df['high'][0] )
        for i in range(len(df)):
            stock_price = float(df['close'][i] )
            max_price = max(max_price,stock_price)
            lowest_price = min(lowest_price,stock_price)
        self.lowest_price = lowest_price
        self.max_price = max_price
        self.df = df
    def max_price():
        return self.max_price
    
#     def today_price():
#         return self.df.loc[len(df)-1,'close']

In [194]:
df

,date,code,open,close,high,low
0,2021-01-04,sh.601633,35.5295463600,37.4870158300,38.6575629000,35.4213445300
1,2021-01-05,sh.601633,37.4870158300,37.6640733700,38.1263902800,36.4049975300
2,2021-01-06,sh.601633,37.5657080700,37.0050258600,38.4411592400,35.9525171500
3,2021-01-07,sh.601633,36.7886222000,40.7035611400,40.7035611400,36.3853244700
4,2021-01-08,sh.601633,41.5199931300,41.8052525000,42.3364251200,39.3461200000
...,...,...,...,...,...,...
422,2022-09-28,sh.601633,29.3700000000,28.1100000000,29.3800000000,28.1000000000
423,2022-09-29,sh.601633,28.6500000000,28.1000000000,28.8000000000,28.0200000000
424,2022-09-30,sh.601633,28.0500000000,27.8000000000,28.3500000000,27.6800000000
425,2022-10-10,sh.601633,27.0100000000,26.1200000000,27.3600000000,26.0000000000
426,2022-10-11,sh.601633,26.0700000000,26.0900000000,26.3600000000,25.4900000000

In [227]:
gl = Golden_law(stock_code='sz.000333')

In [228]:
gl.max_price

101.78095617

In [ ]:

def gloden_law(stock_code,start_date = '2021-01-01'):