In [78]:
### pip install baostock
### 文档 http://baostock.com/baostock/index.php/Python_API%E6%96%87%E6%A1%A3

In [1]:
import baostock as bs 
import pandas as pd

In [2]:
lg = bs.login()

login success!

In [3]:
help(bs)

Help on package baostock:

NAME
    baostock

DESCRIPTION
    发布方法
    @author: baostock.com
    @group : baostock.com
    @contact: baostock@163.com

PACKAGE CONTENTS
    common (package)
    corpreport (package)
    data (package)
    evaluation (package)
    login (package)
    macroscopic (package)
    metadata (package)
    realtime (package)
    security (package)
    util (package)

SUBMODULES
    cons

VERSION
    00.8.80

AUTHOR
    baostock.com

FILE
    /Users/yuanbo6/opt/anaconda3/lib/python3.7/site-packages/baostock/__init__.py

```
历史行情指标参数
日线指标参数（包含停牌证券）
参数名称	参数描述	说明
date	交易所行情日期	格式：YYYY-MM-DD
code	证券代码	格式：sh.600000。sh：上海，sz：深圳
open	今开盘价格	精度：小数点后4位；单位：人民币元
high	最高价	精度：小数点后4位；单位：人民币元
low	最低价	精度：小数点后4位；单位：人民币元
close	今收盘价	精度：小数点后4位；单位：人民币元
preclose	昨日收盘价	精度：小数点后4位；单位：人民币元
volume	成交数量	单位：股
amount	成交金额	精度：小数点后4位；单位：人民币元
adjustflag	复权状态	不复权、前复权、后复权
turn	换手率	精度：小数点后6位；单位：%
tradestatus	交易状态	1：正常交易 0：停牌
pctChg	涨跌幅（百分比）	精度：小数点后6位
peTTM	滚动市盈率	精度：小数点后6位
psTTM	滚动市销率	精度：小数点后6位
pcfNcfTTM	滚动市现率	精度：小数点后6位
pbMRQ	市净率	精度：小数点后6位
isST	是否ST	1是，0否
```

In [15]:
stock_code = 'sh.600519'
stock_info = 'date,code,open,close,high,low'
start_date = '2021-01-01'
end_date = '2021-01-31'

In [16]:
rs = bs.query_history_k_data_plus(stock_code, stock_info, start_date, end_date, frequency='d')

In [17]:
type(rs)

baostock.data.resultset.ResultData

In [10]:
data_list = []
while rs.next():
    data_list.append(rs.get_row_data())

In [11]:
df = pd.DataFrame(data_list, columns = rs.fields)

In [12]:
df

          date       code       open      close       high        low
0   2021-01-04  sh.600519  1999.9800  1997.0000  2004.9900  1983.8100
1   2021-01-05  sh.600519  1990.0000  2059.4500  2059.4500  1982.4600
2   2021-01-06  sh.600519  2064.8000  2100.0000  2125.0000  2036.0300
3   2021-01-07  sh.600519  2097.0000  2140.0000  2140.0000  2075.0000
4   2021-01-08  sh.600519  2142.0000  2090.0000  2150.8800  2063.0200
5   2021-01-11  sh.600519  2090.0000  2099.7300  2150.5000  2058.6000
6   2021-01-12  sh.600519  2088.0000  2160.9000  2160.9000  2085.0000
7   2021-01-13  sh.600519  2164.0000  2164.0000  2173.3300  2135.0000
8   2021-01-14  sh.600519  2156.0000  2134.0000  2163.0000  2116.1100
9   2021-01-15  sh.600519  2115.0000  2082.0000  2134.3500  2029.0000
10  2021-01-18  sh.600519  2061.0600  2063.0000  2091.4800  2040.2700
11  2021-01-19  sh.600519  2073.1100  2009.4100  2096.3000  2006.8500
12  2021-01-20  sh.600519  2008.0000  2040.6300  2055.4900  1982.5000
13  2021-01-21  sh.600519  2048.0000  2070.0000  2090.0200  2041.0000
14  2021-01-22  sh.600519  2069.0000  2079.9500  2100.0000  2060.1000
15  2021-01-25  sh.600519  2083.0000  2175.0000  2179.5000  2083.0000
16  2021-01-26  sh.600519  2185.0000  2141.8900  2187.0000  2125.1100
17  2021-01-27  sh.600519  2141.8900  2089.0000  2141.8900  2085.0000
18  2021-01-28  sh.600519  2080.0000  2088.0000  2109.6600  2060.0200
19  2021-01-29  sh.600519  2101.1900  2116.1800  2149.4800  2090.2200

In [79]:
##  tushare

In [ ]:
## https://waditu.com/document/2?doc_id=14

In [57]:
import tushare as ts

In [59]:
data = ts.get_today_all()

[Getting data:]##############################################

In [60]:
type(data)

pandas.core.frame.DataFrame

In [67]:
stock_list = list(data['name'])

In [ ]:
116 	 金融 	 116103 	 证券

In [77]:
with open('stock_keyword.txt','w') as fw:
    for stock in stock_list:
        if  " " in stock:
            stock = "".join(stock.split())
        new_line = ["金融", "116","证券", "116103",stock]
        new_line = "\t".join(new_line)
        fw.write(new_line)
        fw.write('\n')