In [1]:
import pandas as pd

In [6]:
num_list = [i for i in range(3,6)]
num_list

[3, 4, 5]

In [7]:
pd.Series(num_list)

0    3
1    4
2    5
dtype: int64

In [34]:
num_series = pd.Series(num_list,index=['a','b','c'])
num_series

a    3
b    4
c    5
dtype: int64

In [37]:
num_series.index=['aa','d','dd']

In [38]:
num_series

aa    3
d     4
dd    5
dtype: int64

In [30]:
num_series.index

Index(['a', 'b', 'c'], dtype='object')

In [31]:
num_series.values

array([3, 4, 5])

In [32]:
num_series.astype(float)

a    3.0
b    4.0
c    5.0
dtype: float64

In [33]:
dict(num_series)

{'a': 3, 'b': 4, 'c': 5}

In [16]:
num_dic = {'aaa':1,'bb':1,'c':3}
pd.Series(num_dic)

aaa    1
bb     1
c      3
dtype: int64

In [20]:
name_list = ['paula','belen','vgeta']
pd.Series(sorted(name_list))

0    belen
1    paula
2    vgeta
dtype: object

### DataFrame