In [5]:
#函数

In [2]:
def g2kg(g):
    return str(g/1000)+"kg"

In [4]:
print(g2kg(200))

0.2kg

In [10]:
def f_c(a,b):
    return "c es {}".format((a**2+b**2)**(1/2))

In [11]:
print(f_c(3,4))

c es 5.0

In [16]:
def area(up,down,height):
    return 1/2*(up+down)*height

In [17]:
print(area(1,2,3))

4.5

In [18]:
#循环

In [26]:
name_list=["belen","paula"]
for name in name_list:
    print(name)

belen
paula

In [30]:
for name in range(len(name_list)):
    print(name_list[name])

belen
paula

In [40]:
name_list=["belen", "paula"]
name_list.append("yuanbo")
print(name_list)

['belen', 'paula', 'yuanbo']

In [42]:
for a in range(3):
    print(a)

0
1
2

In [25]:
for b in range (5):
    print(str(b)+ "+1=",b+1)

0+1= 1
1+1= 2
2+1= 3
3+1= 4
4+1= 5

In [49]:
num_list=[0,1]
for c in range(6):
    num_list.append(c)
print(set(num_list))

{0, 1, 2, 3, 4, 5}

In [54]:
num_list=[0,1]
for d in range(10):
    if d%2==1:
        num_list.append(d)

In [56]:
print(set(num_list))

{0, 1, 3, 5, 7, 9}

In [50]:
#字典 {dic} dic={key1:val1,key2:val2}

In [51]:
sentence='Vegeta, also known as Prince Vegeta or alternatively styled as Vegeta IV is a fictional character in the Dragon Ball franchise created by Akira Toriyama. Vegeta first appears in chapter #204 Sayonara, Son Goku, published in Weekly Shōnen Jump magazine on November 7, 1988, seeking the wish-granting Dragon Balls to gain immortality.'

In [52]:
dic={}
for word in sentence.split():
    word=word.strip(",").strip(".")
    dic[word]=dic.get(word,0)+1

In [53]:
dic

{'Vegeta': 4,
 'also': 1,
 'known': 1,
 'as': 2,
 'Prince': 1,
 'or': 1,
 'alternatively': 1,
 'styled': 1,
 'IV': 1,
 'is': 1,
 'a': 1,
 'fictional': 1,
 'character': 1,
 'in': 3,
 'the': 2,
 'Dragon': 2,
 'Ball': 1,
 'franchise': 1,
 'created': 1,
 'by': 1,
 'Akira': 1,
 'Toriyama': 1,
 'first': 1,
 'appears': 1,
 'chapter': 1,
 '#204': 1,
 'Sayonara': 1,
 'Son': 1,
 'Goku': 1,
 'published': 1,
 'Weekly': 1,
 'Shōnen': 1,
 'Jump': 1,
 'magazine': 1,
 'on': 1,
 'November': 1,
 '7': 1,
 '1988': 1,
 'seeking': 1,
 'wish-granting': 1,
 'Balls': 1,
 'to': 1,
 'gain': 1,
 'immortality': 1}

In [58]:
#列表 [list] 使用方括号扩起来 list=[val1,val2,val3]

In [60]:
#1.列表中每一个元素都是可变的
#2.列表中的元素是有序的 
#3.列表可以容纳任何对象：整数1，字符串'a word'，函数print(1)，布尔值true，列表中套列表【1，2】，元组（1，2），字典{‘key':'value'}

In [ ]:
#列表增删改查

In [70]:
fruit=['Pineapple','pear'] #增加
fruit.insert(1,'grape') #必须指定插入新元素的位置，指定位置之前的位置，若指定插入位置不存在，将会放在最后
print(fruit)

['Pineapple', 'grape', 'pear']

In [63]:
fruit[0:0]=['orange']
print(fruit)

['orange', 'Pineapple', 'grape', 'pear']

In [87]:
fruit=['pineapple','pear','grape']
fruit.extend(['apple','orange']) #添加多个元素
print(fruit)

['pineapple', 'pear', 'grape', 'apple', 'orange']

In [137]:
fruit=['pineapple','pear','grape'] #删除
fruit.remove('grape')
print(fruit)

['pineapple', 'pear']

In [68]:
fruit[0]='grapefruit' #替换修改
print(fruit)

['grapefruit', 'pear']

In [71]:
del fruit [0:2] #删除
print(fruit)

['pear']

In [ ]:
#字典 dic={Key1:val1,Key2:val2}

In [72]:
#1.字典中数据必须是以键值对的形式出现
#2.键不能重复，值可以重复
#3.键无法修改；值是可以修改的

In [158]:
a={'key':123,'key2':1234}
print(a)

{'key': 123, 'key2': 1234}

In [161]:
a.keys(),a.values()

(dict_keys(['key', 'key2']), dict_values([123, 1234]))

In [138]:
# 增加
nasdaq_code={'BIDU':'baidu','SINA':'sina'} #字典的定义
nasdaq_code['YOKU']='youku'
print(nasdaq_code)

{'BIDU': 'baidu', 'SINA': 'sina', 'YOKU': 'youku'}

In [140]:
company_list = ['BIDU','SINA','YOKU']
print(company_list)

['BIDU', 'SINA', 'YOKU']

In [141]:
nasdaq_code={}
for company in company_list:
    nasdaq_code[company] = company.lower()

In [142]:
nasdaq_code

{'BIDU': 'bidu', 'SINA': 'sina', 'YOKU': 'yoku'}

In [90]:
nasdaq_code.update({'FB':'facebook','TSLA':'Tesla'}) #添加多个元素
print(nasdaq_code)

{'BIDU': 'baidu', 'SINA': 'sina', 'YOKU': 'youku', 'TSLA': 'Tesla', 'FB': 'facebook'}

In [91]:
del nasdaq_code['FB'] #删除，在索引内容时使用方括号，一定使用字典中的键
print(nasdaq_code)

{'BIDU': 'baidu', 'SINA': 'sina', 'YOKU': 'youku', 'TSLA': 'Tesla'}

In [92]:
nasdaq_code['TSLA'] #字典不能切片 [0:4]wrong

'Tesla'

In [94]:
#元组 (tuple) tuple=(val1,val2,val3)

In [95]:
#元组是不可修改的，列表中存在的方法不可使用在元组上，但元组可以被查看索引的

In [97]:
letters=('a','b','c')
letters[0]

'a'

In [98]:
#集合 set={val1,val2,val3}

In [99]:
#集合不能被切片也不能被索引，除了做集合运算之外，集合元素可以被添加，删除
# 集合里面的元素都不是重复的

In [100]:
a_set={1,2,3,4}
a_set.add(5)

In [101]:
print(a_set)

{1, 2, 3, 4, 5}

In [103]:
a_set.discard(5)
print(a_set)

{1, 2, 3, 4}

In [104]:
#数据结构的一些技巧

In [105]:
#多重循环

In [163]:
num_list= [6,2,7,4,1,3,5]  #sorted函数按照长短，大小，英文字母的顺序给每个列表中的元素进行排序
print(sorted(num_list))

[1, 2, 3, 4, 5, 6, 7]

In [166]:
num_list= [6,2,7,4,1,3,5]
l = sorted(num_list)
l[::-1]

[7, 6, 5, 4, 3, 2, 1]

In [107]:
sorted(num_list,reverse=True) #reverse逆序整理

[7, 6, 5, 4, 3, 2, 1]

In [169]:
for a,b in zip(num,str):
    print(b,"is",a)

TypeError: 'int' object is not iterable

In [109]:
#推导式  列表 list=[item for item in iterable]

In [112]:
a=[]
for i in range(1,11):
    a.append(i)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [115]:
b=[i for i in range(1,11)]
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [116]:
a=[i**2 for i in range(1,10)]
print(a)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [117]:
c=[j+1 for j in range(1,10)]
print(c)

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [118]:
k=[n for n in range(1,10) if n%2==0]
print(k)

[2, 4, 6, 8]

In [119]:
z=[letter.lower() for letter in 'ABCDEFGHIGKLMN']
print(z)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'g', 'k', 'l', 'm', 'n']

In [120]:
#推导式  字典

In [121]:
d={i:i+1 for i in range(4)}
print(d)

{0: 1, 1: 2, 2: 3, 3: 4}

In [170]:
g={i:j for i,j in zip(range(1,8),'abcdefg')}
print(g)

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e', 6: 'f', 7: 'g'}

In [175]:
g={i:j for i,j in zip('abcdefg','abcdefg')}
print(g)

{'a': 'a', 'b': 'b', 'c': 'c', 'd': 'd', 'e': 'e', 'f': 'f', 'g': 'g'}

In [129]:
l={i:j.upper() for i,j in zip(range(1,6),'abcde')}

In [130]:
l

{1: 'A', 2: 'B', 3: 'C', 4: 'D', 5: 'E'}

In [131]:
#循环列表时获取元素的索引

In [132]:
#enumerate 列举

In [176]:
letters=['a','b','c','d']
for num,letter in enumerate(letters):
    print(letter, "is", num+1)

a is 1
b is 2
c is 3
d is 4

In [179]:
letters=['a','b','c','d']
list(enumerate(letters))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

In [187]:
for item in list(enumerate(letters)):
#     print(item)
    num = item[0]
    letter = item[1]
    print(num,letter)

0 a
1 b
2 c
3 d

In [188]:
letters=['a','b','c','d']

In [193]:
d = {i:j for i,j in zip(range(4),'abcd')}

In [194]:
d

{0: 'a', 1: 'b', 2: 'c', 3: 'd'}

In [217]:
s = 'abcd'*10
s

'abcdabcdabcdabcdabcdabcdabcdabcdabcdabcd'

In [223]:
for i in range(len(s)):
    print(i,s[i])

0 a
1 b
2 c
3 d
4 a
5 b
6 c
7 d
8 a
9 b
10 c
11 d
12 a
13 b
14 c
15 d
16 a
17 b
18 c
19 d
20 a
21 b
22 c
23 d
24 a
25 b
26 c
27 d
28 a
29 b
30 c
31 d
32 a
33 b
34 c
35 d
36 a
37 b
38 c
39 d

In [224]:
a={i:j for i,j in zip(range(len(s)),'abcd'*10)}

In [225]:
a

{0: 'a',
 1: 'b',
 2: 'c',
 3: 'd',
 4: 'a',
 5: 'b',
 6: 'c',
 7: 'd',
 8: 'a',
 9: 'b',
 10: 'c',
 11: 'd',
 12: 'a',
 13: 'b',
 14: 'c',
 15: 'd',
 16: 'a',
 17: 'b',
 18: 'c',
 19: 'd',
 20: 'a',
 21: 'b',
 22: 'c',
 23: 'd',
 24: 'a',
 25: 'b',
 26: 'c',
 27: 'd',
 28: 'a',
 29: 'b',
 30: 'c',
 31: 'd',
 32: 'a',
 33: 'b',
 34: 'c',
 35: 'd',
 36: 'a',
 37: 'b',
 38: 'c',
 39: 'd'}

In [7]:
###类 class

In [32]:
class hero:
    def __init__(self,sex,age):
        self.sex = sex
        self.age = age
    def attack(self,power):
        return power
    def walk(self,speed):
        return speed
    def score(self,power,speed):
        return self.attack(power) + self.walk(speed) + self.age

In [33]:
Arthur = hero('m',30)

In [34]:
Arthur.sex

'm'

In [35]:
Arthur.age

30

In [36]:
Arthur.attack(100)

100

In [37]:
Arthur.walk(20)

20

In [38]:
Arthur.score(100,20)

150

In [40]:
Yaoyao = hero ('f',18)

In [41]:
Yaoyao.attack(80)

80

In [43]:
Yaoyao.walk(30)

30

In [44]:
Yaoyao.score(80,30)

128

In [46]:
class Cocacola():
    formula = ['caffeine','sugar','water','soda']
    def __init__(self):
        for element in self.formula:
            print('coke has {}'.format(element))
    def drink(self):
        print('Energy')
    
coke = Cocacola()

coke has caffeine
coke has sugar
coke has water
coke has soda

In [53]:
class Cocacola():
    formula = ['caffeine','sugar', 'water', 'soda']
    def __init__(self,logo_name):
        self.local_logo = logo_name
    def drink(self):
        print('Energy')

In [54]:
coke = Cocacola('可口可乐')
coke.local_logo

'可口可乐'

In [56]:
coke.drink()

Energy

In [57]:
class Cocacola():
    calories = 140
    sodium = 45
    total_carb = 39
    caffeine = 34
    def __init__(self,logo_name):
        self.local_logo = logo_name
    def drink(self):
        print('you got {} cal energy'.format(self.calories))

In [59]:
coke = Cocacola("可口可乐")

In [60]:
coke.drink()

you got 140 cal energy

In [61]:
### 库函数

In [69]:
#time

In [62]:
import time

In [64]:
time.ctime()

'Tue Jun  1 17:12:26 2021'

In [65]:
time.gmtime()

time.struct_time(tm_year=2021, tm_mon=6, tm_mday=1, tm_hour=9, tm_min=14, tm_sec=39, tm_wday=1, tm_yday=152, tm_isdst=0)

In [66]:
time.strftime('%Y-%m-%d  %H:%M:%S')

'2021-06-01  17:16:45'

In [68]:
start = time.time()
s = 0
for i in range(1000):
    s = s + i
print(s)
end = time.time()
print(end-start)

499500
0.0005240440368652344

In [70]:
#datetime

In [71]:
from datetime import datetime,timedelta

In [72]:
datetime.now()

datetime.datetime(2021, 6, 1, 17, 34, 55, 226911)

In [73]:
datetime.now().strftime("%Y-%m-%d")

'2021-06-01'

In [77]:
(datetime.now() - timedelta(days=2)).strftime('%Y-%m-%d  %H:%M:%S')

'2021-05-30  17:37:54'

In [80]:
(datetime.now() + timedelta(hours=2)).strftime('%Y-%m-%d  %H:%M:%S')

'2021-06-01  19:38:41'

In [81]:
#math

In [82]:
import math

In [83]:
math.pi

3.141592653589793

In [86]:
from math import pi,sin,radians,log

In [87]:
sin(radians(30))

0.49999999999999994

In [96]:
log(8,2)

3.0

In [97]:
# os (operate Systems)

In [98]:
import os

In [99]:
os.listdir()

['iris.txt',
 '.DS_Store',
 'python2.ipynb',
 'Vegeta.txt',
 'python1.ipynb',
 'name.txt',
 '.ipynb_checkpoints',
 'paula_note.ipynb']

In [100]:
os.getcwd()

'/Users/mac/Desktop/git/algorithm/python_class'

In [101]:
paula_path = '/Users/mac/Desktop/paula'

In [103]:
paula_files = os.listdir(paula_path)

In [104]:
for paula_file in paula_files:
    if paula_file.endswith('.xls'):
        print(paula_file)

DOSSIER 2.xls
Plantilla IRPF.xls
Plantilla IRPF (1).xls

In [109]:
for paula_file in paula_files:
    if "Prueba" in paula_file:
        print(paula_file)

Prueba de repaso Jiawei Zhu.pdf
Prueba 1 Grupo C.xlsx